#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Space {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01620a8c-d338-41e6-867b-e2b8d73cfbe9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}