#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Line_1 {
  stroke-width: 2px;
  stroke: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Line_1 {
  stroke-width: 2px;
  stroke: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-047b4846-ec30-437d-92cd-216f6d21a889 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}