#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-helpButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-234e14e0-1cd4-4492-b11c-4d5d4c1b04bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}