#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7e3def-6a91-43bf-9f7c-39590e384402 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}