#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-480ec859-a1f8-42c6-9d34-5bf2697a8dc1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}