#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-57061034-72fb-456a-b625-67bc862c23fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}