#s-922ec842-a117-412e-8dee-aa900c7885ea > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 860px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 > .paddingLayer {
  height: 71px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 {
  position: absolute;
  width: 396px;
  height: 38px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Input_4 > .paddingLayer {
  height: 34px;
  width: 377px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_1 {
  position: absolute;
  width: 56px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_1 > img, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_1 > svg {
  height: 47px;
  width: 56px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_2 > svg {
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_2 {
  position: absolute;
  width: 32px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_2 > img, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_2 > svg {
  height: 34px;
  width: 32px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 {
  position: absolute;
  width: 113px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 > .paddingLayer {
  height: 24px;
  width: 111px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_22 > svg {
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_22 {
  position: absolute;
  width: 29px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_22 > img, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_22 > svg {
  height: 22px;
  width: 29px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Panel_1 {
  width: 231px;
  height: 114px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 231px;
  height: 114px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Group_2 {
  position: absolute;
  width: 231px;
  height: 114px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 {
  position: absolute;
  width: 231px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 > .paddingLayer {
  height: 112px;
  width: 229px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #shapewrapper-s-Line_2 marker {
  fill: #999999;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #shapewrapper-s-Line_2 {
  position: absolute;
  width: 200px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Line_2 {
  width: 200px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #999999;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 span#rtr-s-Text_26_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 span#rtr-s-Text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 {
  position: absolute;
  width: 212px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 > .clipping, #s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 > .paddingLayer {
  height: 65px;
  width: 210px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Master_item_2 div.offset {
  position: absolute;
  top: -66px;
  left: 0px;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Master_item_2 {
  position: absolute;
  width: 464px;
  height: 69px;
  overflow: visible;
}
#s-922ec842-a117-412e-8dee-aa900c7885ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}