#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Line_2 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Line_2 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-922ec842-a117-412e-8dee-aa900c7885ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}