#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-976d3a66-6c15-401e-8808-b1429336d5ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}