#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f05184-5f12-4ca0-92dc-d790b9642131 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}