#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-c4d54e30-72e9-4aa9-9c83-1904e3a7e9f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}