#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-helpButton {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c5d94d9c-25f5-45c3-ac74-283b09554e2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}