#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}