#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d90908-31ad-4724-a8c2-560296c2e067 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}