#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}