#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 {
  position: absolute;
  width: 464px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 > .paddingLayer {
  height: 69px;
  width: 464px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Rectangle_27 span#rtr-m-2c6ac673-Rectangle_27_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_66 span#rtr-m-2c6ac673-Text_66_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_67 span#rtr-m-2c6ac673-Text_67_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_68 span#rtr-m-2c6ac673-Text_68_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_69 span#rtr-m-2c6ac673-Text_69_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 > .clipping, #m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8 #m-2c6ac673-Text_70 span#rtr-m-2c6ac673-Text_70_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-2c6ac673-4d86-4f51-8bf3-aa9d705a06a8.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}