#m-446cf722-be49-4c7a-8e70-24f762f6def0 #m-446cf722-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-446cf722-be49-4c7a-8e70-24f762f6def0 #m-446cf722-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-446cf722-be49-4c7a-8e70-24f762f6def0 #m-446cf722-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-446cf722-be49-4c7a-8e70-24f762f6def0 #m-446cf722-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-446cf722-be49-4c7a-8e70-24f762f6def0.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}