#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-59608aec-7eab-47b0-83ac-26668811245f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}