#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f #m-59608aec-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#m-59608aec-7eab-47b0-83ac-26668811245f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}