#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67 #m-9bd9ce54-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#m-9bd9ce54-ccab-40fe-b7f1-400178b7da67.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}