#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Line_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}