#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3 #m-f7dd4a95-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f7dd4a95-384e-4931-8ef3-c637b532ccc3.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}